.page-header
  %h2= t '.heading'

= bootstrap_form_for @event_charge, url: event_charge_path(@event, @event_charge) do |f|
  = render 'form', f: f

.btn-group
  = link_to t('show'), @event_charge, class: 'btn'
  = link_to t('back'), event_charges_path, class: 'btn'