%h3= Event.human_attribute_name :user_costs
%p= @event.costs_for_user current_user

%h3= Event.human_attribute_name :user_balance
%p= @event.balance_for_user current_user

- if @event.is_owner? current_user and not @event.closed?
  %h3= t 'join'
  %p= t '.join_instructions_html', join_url: join_event_url(token: @event.join_token), qr_link: link_to('QR-Code', join_qr_code_event_path(@event, format: :png))
