.page-header
  %h1= t '.headings.overview'

%p#statistics= t '.statistics', total_number_events: @events[:total_number_events], total_number_charges: @events[:total_number_charges], total_money_charges: (@events[:total_cents_charges]/100).round(0)


%h2= t '.headings.organized'

%table.table
  %tr
    %th= Event.human_attribute_name :name
    %th= Event.human_attribute_name :description
    %th= Event.human_attribute_name :total_costs
    %th= t '.number_charges'
    %th= t 'status'
    %th
    %th
    %th
    %th

  -# = render @events[:own_events] # TODO undry, use partials
  - @events[:own_events].each do |event|
    %tr{id: "row_event_#{event.id}"}
      %td= event.name
      %td= event.description
      %td= event.total_costs
      %td= event.charges.count
      %td= t "events.stati.#{event.status}"
      %td= link_to t(:show), event, class: 'btn' if can? :read, event
      %td= link_to t(:edit), edit_event_url(event), class: 'btn', id: "link_edit_event_#{event.id}" if can? :update, event
      %td= link_to t(:close_event), event, class: 'btn' if can? :close, event
      %td= link_to t('.trash'), trash_event_url(event),
        class: 'btn btn-warning', confirm: t('events.index.trash_confirm') if can? :trash, event


- if can? :create, Event
  = link_to t('.new_event'), new_event_path, :class => 'btn btn-primary'

%h2= t '.headings.contributed'

%table.table
  %tr
    %th= Event.human_attribute_name :name
    %th= Event.human_attribute_name :description
    %th= Event.human_attribute_name :total_costs
    %th
    %th
    %th

  = render @events[:joined_events]

%h2= t '.headings.trashed'
= t '.infos.trashed'

- if @events[:trashed_events].count > 0
  %table.table
    %tr
      %th= Event.human_attribute_name :name
      %th= Event.human_attribute_name :trashed_at
      %th

    - @events[:trashed_events].each do |trashed_event|
      %tr
        %td=trashed_event.name
        %td=trashed_event.trashed_at
        %td= link_to t('events.index.recover'), recover_event_url(trashed_event), class: 'btn btn-success'

- else
  %strong.lead= t 'none'
