%h1  Events you organized

%table
  %tr
    %th Name
    %th Description
    %th Organizer
    %th
    %th
    %th

  - @events[:own_events].each do |event|
    %tr
      %td= event.name
      %td= event.description
      %td= event.owner.email
      %td= link_to 'Show', event
      %td= link_to 'Edit', edit_event_path(event)
      %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }

%br

%h1  Events you contributed to

TODO!

%br

= link_to 'New Event', new_event_path
