.page-header
  %h2= t '.headings.overview'

%p= t '.total_events', :count => @events[:total_number_of_events_in_database]

%h2= t '.headings.organized'

%table.table
  %tr
    %th= Event.human_attribute_name :name
    %th= Event.human_attribute_name :description
    %th= Event.human_attribute_name :total_costs
    %th
    %th
    %th

  = render @events[:own_events]
    

- if can? :create, Event
  = link_to t('.new_event'), new_event_path, :class => 'btn btn-primary'

%h2= t '.headings.contributed'

%table.table
  %tr
    %th= Event.human_attribute_name :name
    %th= Event.human_attribute_name :description
    %th= Event.human_attribute_name :total_costs
    %th
    %th
    %th
    
  = render @events[:joined_events]
