.page-header
  %h2= t '.headings.overview'

%p= t '.total_events', :count => @events[:total_number_of_events_in_database]

%h2= t '.headings.organized'

%table.table
  %tr
    %th= Event.human_attribute_name :name
    %th= Event.human_attribute_name :description
    %th= Event.human_attribute_name :total_costs
    %th
    %th
    %th

  - @events[:own_events].each do |event|
    %tr
      %td= event.name
      %td= event.description
      %td= event.total_costs
      %td
        - if can? :read, event
          = link_to t('show'), event, class: 'btn btn-small'
      %td
        - if can? :update, event
          = link_to t('edit'), edit_event_path(event), class: 'btn btn-small'
      %td
        - if can? :destroy, event
          = link_to t('destroy'), event, method: :delete, data: { confirm: t('sure') }, class: 'btn btn-danger btn-small'

- if can? :create, Event
  = link_to t('.new_event'), new_event_path, :class => 'btn btn-primary'

%h2= t '.headings.contributed'

TODO!
