%p#notice= notice

%p
  %b Uuid:
  = @event.uuid
%p
  %b Name:
  = @event.name
%p
  %b Description:
  = @event.description
%p
  %b Organizer:
  = @event.owner.username

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
