%p#notice= notice

%p
  %b Name:
  = @event.name
%p
  %b Description:
  = @event.description
%p
  %b Organizer:
  = @event.owner.email

%h2 Comments
.comments
  - @event.comments.each do |comment|
    %div{:id => "event_#{@event.id}"}
      .author
        = comment.author.email
      %p.comment_text
        = comment.text
    %br

  %div

%h3 New Comment
= form_tag  comment_event_path(@event) , {method: :put} do
  = text_field_tag :comment_text
  = submit_tag "Comment!"


= link_to 'Edit', edit_event_path(@event)
= link_to 'Back', events_path
