.page-header
  %h2= @event.name

%h3= Event.human_attribute_name :description
%p= @event.description

%h3= Event.human_attribute_name :owner
%p= @event.owner.email


.btn-group
  = link_to t('edit'), edit_event_path(@event), class: 'btn'
  = link_to t('back'), events_path, class: 'btn'
