
.page-header
  %h1= @event.name

.tabbable.tabs-left
  %ul.nav.nav-tabs
    %li.active
      %a{:href => '#overview', :'data-toggle' => 'tab'}= t 'overview'
    - if @event.is_participant? current_user
      %li
        %a{:href => '#charges', :'data-toggle' => 'tab'}= EventCharge.model_name.human count: 0
      - if @event_audits.present?
        %li
          %a{:href => '#changes', :'data-toggle' => 'tab'}= t '.changes'
      %li
        %a{:href => '#comments', :'data-toggle' => 'tab'}= EventComment.model_name.human count: 0

  .tab-content
    #overview.tab-pane.active

      %h3 Status
      %p= t "events.stati.#{@event.status.to_s}"

      %h3= Event.human_attribute_name :description
      %p= @event.description

      %h3= Event.human_attribute_name :owner
      %p
        = @event.owner.username
        - if @event.is_participant? current_user
          = render 'users/message', user: @event.owner
      
      - if @event.is_participant? current_user
        %h3= Event.human_attribute_name :total_costs
        %p= @event.total_costs
  
        - if [:open].include? @event.status
          = render "cost_overview"
        - else
          = render "compensation_status"
  
        .btn-group
          - if can? :close, @event
            = link_to t('close_event'), close_event_path, class: 'btn btn-primary', method: 'post'
          - if can? :compensate_all, @event
            = link_to t('mark_as_expenses_compensated'), compensate_all_event_path, class: 'btn btn-success', method: 'post', id: 'markascompensated_button'
          - if can? :trash, @event
            = link_to t('events.index.trash'), trash_event_path, class: 'btn btn-warning'
          - unless @event.is_owner? current_user
            - if @event.is_participant? current_user
              = link_to t('leave'), leave_event_path, class: 'btn', method: 'post'
          - if can? :update, @event
            = link_to t('edit'), edit_event_path(@event), class: 'btn'
          = link_to t('back'), events_path, class: 'btn'

    - if @event.is_participant? current_user
      #charges.tab-pane
        = render 'event_charges/index'
      - if @event_audits.present?
        #changes.tab-pane
          %ul.media-list
            = render @event_audits[:new]
            = render @event_audits[:old], item_disabled: true
  
      #comments.tab-pane
        %h2= EventComment.model_name.human count:0
        .comments
          - @event.comments.each_with_index do |comment, index|
            %div{:id => "event_#{comment.id}", class: cycle('odd', 'even')}
              .comment_headline
                %strong.pull-left #{index+1}.
                %strong.author #{comment.author.username} (#{comment.author.email})
              %p.comment_text.lead
                = comment.text
              .date -- vor #{distance_of_time_in_words comment.created_at, Time.now}
            %br
  
          %div
  
        - if can? :create, @event.comments.build
          %h3= t 'event_comments.new'
          = bootstrap_form_for @event.comments.new, url: comment_event_path(@event) do |f|
            = f.text_field :text
            = f.actions do
              = f.primary t 'save'
