
.page-header
  %h1= @event.name
    
.tabbable.tabs-left
  %ul.nav.nav-tabs
    %li.active
      %a{:href => '#overview', :'data-toggle' => 'tab'}= t 'overview'
    - if @event.is_participant? current_user
      %li
        %a{:href => '#charges', :'data-toggle' => 'tab'}= EventCharge.model_name.human count: @event.charges.count
      %li
        %a{:href => '#comments', :'data-toggle' => 'tab'}= EventComment.model_name.human count: @event.comments.count
  
  .tab-content
    #overview.tab-pane.active
    
      %h3= Event.human_attribute_name :description
      %p= @event.description
      
      %h3= Event.human_attribute_name :owner
      %p= @event.owner.email
      
      - if @event.is_owner? current_user
        %h3= Event.human_attribute_name :total_costs
        %p= @event.total_costs
      
        %h3= t 'join'
        %p= t '.join_instructions_html', join_url: join_event_url(token: @event.join_token), qr_link: link_to('QR-Code', join_qr_code_event_path(@event, format: :png))
      
      
      .btn-group
        - if @event.is_closable? current_user
          = link_to t('close_event'), close_event_path, class: 'btn', method: 'post'
        - unless @event.is_owner? current_user
          - if @event.is_participant? current_user
            = link_to t('leave'), leave_event_path, class: 'btn', method: 'post'
        - if can? :update, @event
          = link_to t('edit'), edit_event_path(@event), class: 'btn'
        = link_to t('back'), events_path, class: 'btn'
    
    - if @event.is_participant? current_user
      #charges.tab-pane
        = render 'event_charges/index'
      
      #comments.tab-pane
        %h2 Comments
        .comments
          - @event.comments.each_with_index do |comment, index|
            %div{:id => "event_#{comment.id}", class: cycle('odd', 'even')}
              .comment_headline
                .index #{index+1}.
                .author #{comment.author.email}
              %p.comment_text
                = comment.text
            %br
        
          %div
         
        - if can? :create, @event.comments.build
          %h3 New Comment
          = bootstrap_form_for @event.comments.new, url: comment_event_path(@event) do |f|
            = f.text_field :text
            = f.actions do
              = f.primary t 'save'
